In [9]:
Print ("01-holamundo.ipynbhola mundo")

NameError: name 'Print' is not defined

In [ ]:
# hola

# hola

In [14]:
# Variables 
var1 = 4
var2 = var1
var3 = 5.6
var4 = "hola"
var5 = "hola mundo"
va6 = 6

In [15]:
var3

5.6

In [17]:
var4

'hola'

In [21]:
Print (" El valor de la primera variable es":var1)

SyntaxError: invalid syntax (986792810.py, line 1)

In [22]:
Print (" El valor de la primera variable es": var1)

SyntaxError: invalid syntax (215325033.py, line 1)

** Hola mundo

In [23]:
print (" El valor de la primera variable es":var1)

SyntaxError: invalid syntax (952760796.py, line 1)

In [26]:
print ("El valor de la primera variable es:", var1)

El valor de la primera variable es: 4

In [27]:
## operadores aritmeticos

## operadores aritmeticos

In [32]:
# Suma (+)
valor_1 = 5
valor_2 = 10
Suma = valor_1 + valor_2

In [33]:
print (Suma)

15

In [34]:
# Resta (-)
valor_1 = 5
valor_2 = 10
Resta = valor_1 - valor_2

In [35]:
print (Resta)

-5

In [36]:
# Multiplicacion (-)
valor_1 = 5
valor_2 = 10
Multiplicacion = valor_1 * valor_2

In [37]:
print(Multiplicacion)

50

In [38]:
# Division (-)
valor_1 = 1
valor_2 = 5
Division = valor_1 / valor_2

In [39]:
print (Division)

0.2

In [42]:
# Division_entera (//)
valor_1 = 1
valor_2 = 5
Division_entera = valor_1 // valor_2
Division_entera

0

In [47]:
print(Division_entera)

0

In [49]:
# Potencia
valor1 = 5
valor2 = 2
potencia = valor1 ** valor2
potencia

25

In [50]:
print(potencia)

25

In [51]:
# modulo
valor1 = 11
valor2 = 2
modulo = valor1 % valor2
modulo

1

## Expresiones

In [53]:

valor_1 = 10
valor_2 = 20
valor_3 = 4.5
resultado = (valor1 / valor2 * valor_3)
resultado

24.75

## Operadores relacionales 
|  Operador | Descripción |
| --- | --- |
| < | Menor que |
| > | Mayor que |
| <= | Menor igual que |
| == | igual que|
|  !=  | Difrente que |

|  Operador | Descripción |
| --- | --- |
| Not| Negación |
| And | Y |
| OR| No |

## operadores logicos

In [55]:
Resultado = not (3+2+3>=4) and (3==3 or 5!=3)
Resultado

False